#series {
    margin: 10px 10px 10px 0px;
}

.container {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

#season-info {
    /*font-family: BrandonTextRegular;*/
    overflow: auto;
    height: 100%;
}

.accordion-header {
    background: linear-gradient(#2d3949, #232f3d);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 0;
}

.ui-accordion-header-active {
    background: #5c728a;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.accordion-header:first-child {
    margin-top: 0px;
}

.episode-wrapper {
    /*font-family: BrandonTextLight;*/
    overflow: hidden;
    overflow-y: auto;
}

.episode {
    background-color: #272f3a;
    padding: 7px;
}

.episode:hover {
    background-color: #374353;
    cursor: pointer;
}

#season-list .selected {
    background-color: #374353;
}

#serie .row {
    height: 100%;
}

#season-list {
    height: 100%;
    overflow-y: auto;
}

#title {
    margin-top: 0px;
}

#episode-title {
    margin-top: 0px;
}

#episode-airdate {
    color: #8c9093;
}
#episode-info {
    color: #8c9093;
}

#season-info .glyphicon {
    color: #8c9093;
}